<div class="layout flex-fill">
  <div class="main-navbar">
    <div class="px-3 px-md-4 py-2">
      <nav class="col navbar navbar-expand-lg align-items-stretch justify-content-between flex-nowrap p-0">
        <div class="container">
          <div class="col-12 row">
            <label>Wallet address:</label>
            <input class="form-control" type="text" [(ngModel)]="profile.account"
                   placeholder="Please enter the wallet address erd1.."/>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="container d-flex flex-column flex-grow-1">
  <main class="main-content row d-flex flex-column ">
    <div class="row">
      <app-transactions [profile]="profile" [egldPriceUSD]="egldPriceUSD" *ngIf="profile.account"></app-transactions>
    </div>
    <div></div>
    <div class="toast-messages d-flex flex-column align-items-center justify-content-sm-end"></div>
  </main>
</div>

<router-outlet></router-outlet>
